<h1>Editing Staff</h1>

<%= form_for @staff do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.number_field :age %>

    <p>Position: </p>
  <% for position in @positions %>
    <%= radio_button_tag(:position, position["PositionName"]) %>
    <%= label_tag(:position, position["PositionName"], style: "display: inline") %>
  <% end %>

  <p>Working at facility: </p>
  <% for facility in @facilities %>
    <%= radio_button_tag(:facility, facility["id"]) %>
    <%= label_tag(:facility, facility["name"], style: "display: inline") %>
  <% end %>

    <%= f.hidden_field :original_name, value:@staff.name %>
    <%= hidden_field_tag 'selected', 'none'  %>

    <%= f.submit 'Continue', class: 'button' %>
<% end %>

<%= link_to 'Show', @staff %> |
<%= link_to 'Back', staffs_path %>
