<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @staff["name"] %>
</p>
<p>
  <strong>Clearance Level:</strong>
  <%= @staff["SecurityClearance"] %>
</p>

<p>
  <strong>Clearance Rank:</strong>
  <%= @staff["positionId"] %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff["PositionClearance"] %>
</p>


<p>
  <strong>Facility:</strong>
  <%= @staff["FacilityName"] %>
</p>



<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
