<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility["name"] %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @facility["capacity"] %>
</p>

<p>
  <strong>Anomaly Type:</strong>
  <%= @facility["AnomalyClass"] %>
</p>

<p>
  <strong>SCPs:</strong>
  <tbody>
	<% @scps.each do |scp| %>
	  <tr>
	  	
	    <td><%= link_to scp["Name"], controller: "scp", action: "show", id: scp["Id"] %></td>
	  </tr>
	  <br>
	<% end %>
</tbody>
</p>

<p>
  <strong>Staff:</strong>
  <tbody>
	<% @staff.each do |staff| %>
	  <tr>
	  	<%= link_to staff["name"], controller: "staffs", action: "show", id: staff["id"] %>
	  <br>
	<% end %>
</tbody>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
