<tbody>
<% @scps.each do |scp| %>
  <tr>
  	<%= scp["Name"] %>
    <td><%= link_to 'Show', controller: "scp", action: "show", id: scp["Id"] %></td>
    <td><%= link_to 'Edit', controller: "scp", action: "edit", id: scp["Id"] %></td>
    <td><%= link_to 'Destroy', controller: "scp", action: "destroy", id: scp["Id"] %></td>
  </tr>
  <br>
<% end %>
</tbody>

<br>
<%= link_to 'New SCP', controller: "scp", action: "create" %>

<%= button_to "Prev", scp_path(), method: :get, params:  {"page": [@page-1, 0].max, "limit": @limit} %>
<%= @page + 1 %> / <%= @total_pages %>
<%= button_to "Next", scp_path(), method: :get, params:  {"page": [@page+1, @total_pages-1].min,"limit": @limit}%>
